<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>fizinio aktyvūmo stebėjimas</title>
</head>
<body>
	<h3>fizinio aktyvūmo stebėjimas</h3>
	<form action="" method="POST">
		<label for="lytis">lytis</label>
		<input type="text" name="lytis" value="V">
		<label for="amzius_periodo_pabaigoje">amzius periodo pabaigoje</label>
		<input type="text" name="amzius_periodo_pabaigoje" value="40">
		kritines_ligos_pries	
		<input type="text" name="kritines_ligos" value="">
		chroniski_negalavimai_pries 
		<input type="text" name="chroniski_negalavimai" value="">
		nubegamas_atstumas_per_12min_pries nubegamas_atstumas_per_12min_pries 	
		<input type="text" name="nubegamas_atstumas_per_12min" value="2">
		prisitraukimai_pries prisitraukimai pries
		<input type="text" name="prisitraukimai" value="4"> 			
			
			, <input type="text" name="periodas_men" value="periodas"> periodas_men
			, <input type="text" name="pagr_veikla" value="namu_seimininke"> pagr_veikla
			
			, <input type="text" name="neintensyvios_veiklos_rusys" value=""> neintensyvios_veiklos_rusys
			, <input type="text" name="val_per_sav_neintensyviai" value="0.0"> val_per_sav_neintensyviai
			, <input type="text" name="kartai_per_sav_neintensyviai" value="0.0"> kartai_per_sav_neintensyviai
			
			, <input type="text" name="intensyvios_veiklos_rusys" value=""> intensyvios_veiklos_rusys
			, <input type="text" name="val_per_sav_intensyviai" value="0.0"> val_per_sav_intensyviai
			, <input type="text" name="kartai_per_sav_intensyviai" value="0.0"> kartai_per_sav_intensyviai
			
			, <input type="text" name="pastabos" value="0.0"> pastabos
			
			, <input type="text" name="kritines_ligos" value=""> kritines_ligos_po
			, <input type="text" name="chroniski_negalavimai" value=""> chroniski_negalavimai_po	
			, <input type="text" name="nubegamas_atstumas_per_12min" value="2"> nubegamas_atstumas_per_12min_po
			, <input type="text" name="prisitraukimai" value="4"> prisitraukimai_po
			
			, <input type="text" name="saugoti" value="nesaugoti"> saugoti
	</form>
</body>
</html>
