<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>fizinio aktyvūmo stebėjimas</title>
	<link rel="stylesheet" href="main.css">
	<style>
		th {
			background-color: coral;
			border: 3px solid chocolate;
			padding: 4px 7px;
		}
		a {
			display: inline-block;
			color: 
		}
	</style>
<body>
	<h3>Atliktų apklausų duomenys</h3>	
	<a th:href="@{${url_statistika}}">Statistinė suvestinė</a>
	<table>
		<tr>
			<th colspan="2">
				apie
				<br>apklaustąjį
			</th>
			<th colspan="4">
				būklė prieš
			</th>
			<th colspan="10">
				periodo duomenys
			</th>
			<th colspan="4">
				būklė po
			</th>
		</tr>
		<tr>
			<th>
			  lytis
			</th>
			<th>
				amžius
				<br>periodo
				<br>pabaigoje
			</th>	
			</th>
			<th>
				kritinės
				<br>ligos			
			</th>
			<th>
				chroniški
				<br>negalavimai
			</th>
			<th>
				nubėgamas
				<br>atstumas
				<br>per
				<br>12min
			<br>
			</th>
			<th>
				pri-<br>si-<br>trau-<br>kimai			
			</th>
			<th>
				periodas
				<br>men
			</th>
			<th>
				pagr_veikla
			</th>
			<th>
				neintensyvios
				<br>veiklos
				<br>rusys
			</th>
			<th>
				val.
				<br>per.
				<br>sav.
				<br>neintensyviai
			</th>
			<th> 
				kartai
				<br>per
				<br>sav.
				<br>neintensyviai
			</th>
			<th>
				intensyvios
				<br>veiklos
				<br>rušys
			</th>
			<th>
				val
				<br>per
				<br>sav.
				<br>intensyviai
			</th>
			<th>
				kartai
				<br>per
				<br>sav.
				<br>intensyviai
			</th>
			<th>
				pastabos
			</th>
			<th>
				kritines
				<br>ligos
			</th>
			<th>
				chroniški
				<br>negalavimai
			</th>
			<th>	
				nubėgamas
				<br>atstumas
				<br>per
				<br>12min
			</th>
			<th>
				pri-<br>si-<br>trau-<br>kimai
			</th>
		</tr>
		<tr th:each="apklausa1 : ${apklausos_visos}">
			<td th:text="${apklausa1.getLytis()}"></td>
			<td th:text="${apklausa1.getAmzius_periodo_pabaigoje()}"></td>
			<td th:text="${apklausa1.getKritines_ligos_pries()}"></td>
			<td th:text="${apklausa1.getChroniski_negalavimai_pries()}"></td>
			<td th:text="${apklausa1.getNubegamas_atstumas_per_12min_pries()}"></td>
			<td th:text="${apklausa1.getPrisitraukimai_pries()}"></td>
			<td th:text="${apklausa1.getPeriodas_men()}"></td>
			<td th:text="${apklausa1.getPagr_veikla()}"></td>
			<td th:text="${apklausa1.getNeintensyvios_veiklos_rusys()}"></td>
			<td th:text="${apklausa1.getVal_per_sav_neintensyviai()}"></td>
			<td th:text="${apklausa1.getKartai_per_sav_neintensyviai()}"></td>
			<td th:text="${apklausa1.getIntensyvios_veiklos_rusys()}"></td>
			<td th:text="${apklausa1.getVal_per_sav_intensyviai()}"></td>
			<td th:text="${apklausa1.getKartai_per_sav_intensyviai()}"></td>
			<td th:text="${apklausa1.getPastabos()}"></td>
			<td th:text="${apklausa1.getKritines_ligos_po()}"></td>
			<td th:text="${apklausa1.getChroniski_negalavimai_po()}"></td>
			<td th:text="${apklausa1.getNubegamas_atstumas_per_12min_po()}"></td>
			<td th:text="${apklausa1.getPrisitraukimai_po()}"></td>	
		</tr>
	</table>
</body>
</html>